.header-index{
    display: flex;
    background-image: url('../assets/img/fondo-header.jpg');
    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $bg-filter-color;
        z-index: -1;
        opacity: $bg-filter-opacity;
    }
    .site-logo {
    max-width: 10rem;
    padding: 10px 0;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    a img{
        width: 75px;
        height: auto;
        }
    }  
    .nav-bar{
        margin-right: 9rem;
        margin-bottom: 1rem;
        .nav-list{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            list-style: none;
            gap: 0.5rem;
            background-color: $bg;
            filter: drop-shadow(-7px 6px 4px rgba(0, 0, 0, 0.5));
            align-items: center;
            border-radius: 45px;
            li a{
                text-decoration: none;
                color:$color-one;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 200;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                border-radius: 30px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.521);
                    color: $color-three;
                    transform: scale(1.1);
                    box-shadow: -3px 4px 5px 0 rgb(0, 0, 0);
                    transition: all 300ms ease-in-out;
                }
                &:active{
                    background-color: rgba(255, 255, 255, 0.192);
                    color: $color-one;
                }
            }
        }
    }
}