.second-bg{
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -7px 6px 4px rgba(0, 0, 0, 0.5);
    h1{
        text-transform: uppercase;
        font-size: 4.6875rem;
        font-weight: 600;
        text-align: center;
        color: $color-three;
        text-shadow: 1px 1px 1px black;
        width: 100%;
        box-shadow: -7px 7px 25px 0 rgba(0, 0, 0, 0.616);
        margin-top: 1rem;
    }
    .product-order{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .product-articles{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            .product-card{
                width: 21.875rem;
                height: 40.625rem;
                margin-top: 3rem;
                article{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    filter: grayscale(0.5);
                    &:hover{
                        transform: scale(1.1);
                        transition: all 400ms;
                        filter: grayscale(0);
                    }
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-bottom: 0.5rem;
                        box-shadow: -7px 6px 4px rgba(0, 0, 0, 0.5);
                
                    }
                    h2{
                        width: 18.75rem;
                        margin-bottom: 0.5rem;
                        text-align: center;
                        color: $text-color-dark;
                        font-weight: 600; 
                    }
                    p{
                        color: $text-color-dark;
                        font-weight: 400;
                    }
                    .old-price{
                        color: rgba(46, 46, 46, 0.5);
                        text-decoration: line-through;
                    }
                    .new-price{
                        font-weight: 600;
                        font-size: 1.25rem;
                    }
                    a{
                        background-color: $color-one;
                        text-decoration: none;
                        color: $color-three;
                        margin-top: 0.8rem;
                        padding: 0.5rem 2rem;
                        border-radius: 45px;
                        font-size: 1.25rem;
                        font-weight: 500;
                        text-align: center;
                        &:hover{
                            background-color:$color-three;
                            color: $color-one;
                            padding: 0.6rem 2rem;
                        }
                    }
                }
            }
        }
    }
    .services-order{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;    
        .services-articles{
            display: flex;
            flex-direction: row;
            justify-content: center;    
            .service-card{
                width: 450px;
                height: 700px;
                margin-top: 2rem;
                margin-bottom: 5rem;
                article{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    filter: grayscale(0.6);
                    &:hover{
                        filter: none;
                        transform: scale(1.05);
                        cursor: pointer;
                        filter: grayscale(0) drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.37));
                        transition: all 400ms;
                    }
                    img{
                        width: 300px;
                        height: 300px;
                        object-fit:cover;
                        margin-bottom: 2rem;
                        filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.37));
                        overflow: hidden;                   
                    }
                    h2{
                        text-align: center;
                        font-weight: 600;
                        font-size: 2rem;
                        margin-bottom: 1rem;
                        color: $text-color-dark;
                        filter: drop-shadow(-9px 12px 4px rgba(0, 0, 0, 0.219));
                    }
                    p{
                        text-align: center;
                        color: $color-three;
                        font-weight: 400;
                        width: 380px;
                    }
                    a{
                        background-color: $color-one;
                        text-decoration: none;
                        color: $color-three;
                        margin-top: 0.5rem;
                        padding: 0.5rem 2rem;
                        border-radius: 45px;
                        font-size: 1.25rem;
                        font-weight: 500;
                        text-align: center;
                        filter: drop-shadow(-9px 12px 4px rgba(0, 0, 0, 0.219));
                        &:hover{
                            background-color:$color-three;
                            color: $color-one;
                            padding: 0.6rem 2rem;
                            transition: all 200ms;
                        } 
                    }
                }
            }
        }
    }
    .contact-order{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 10rem;
        flex-wrap: wrap;
        .contact-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;
            flex-wrap: wrap;
            h2{
                color: $color-three;
                text-align: center;
                font-size: 2rem;
                text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.349);  
                width: 100%;
                padding: 1rem 0; 
                box-shadow: -7px 7px 25px 0 rgba(0, 0, 0, 0.616);
                border-radius: 5px;
                
            
            }
            .contact-bg{
                background-color: $bg-gray;
                width: 500px;
                height: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                flex-wrap: wrap;
                filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.267));
                form{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    gap: 1rem;
                    justify-content: center;
                    filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.267));
                    input{
                        height: 3rem;
                        border: none;
                        font-size: 1rem;
                    }
                    textarea{
                        border: none;
                        font-size: 1rem;
                    }
                    .button-contact {
                        display: inline-block;
                        text-decoration: none;
                        filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.37));
                        margin: 0 auto;
                        .custom-button {
                            font-family: 'Kanit', sans-serif;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: $color-one;
                            background-color: $color-three;
                            font-size: 1.5rem;
                            font-weight: 400;
                            text-align: center;
                            padding: 0.5rem 5rem;
                            border-radius: 45px;
                            border: none;
                            overflow: hidden; // Oculta cualquier contenido que se desborde
                            position: relative;
                            transition: background-color 0.3s;
                            border: 1px solid $color-two;
                        
                            &:hover {
                                background-color: $color-one;
                                color: $color-two;
                                border: 1px solid $color-two;
                                transition: all 300ms ease;
                                cursor: pointer;
                        
                                .fa-regular {
                                width: 0;
                                background-color: $color-one;
                                transition: all 0.3s;
                                }
                            } 
                            .fa-regular {
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 20%;
                                background-color: $color-two;
                                color: $color-one;
                                padding: 0.5rem;
                                border-top-left-radius: 45px;
                                border-bottom-left-radius: 45px;
                            }
                        
                            span {
                                width: 80%;
                                height: 100%;
                                background-color: $color-two;
                                padding: 0.5rem 1rem;
                                border-radius: 45px;
                            }
                            }
                        }
                        
                        
                        
                        
                    } 
                // &:hover {
                //             background-color: $color-one;
                //             color: $color-two;
                //             border: 1px solid $color-two;
                //             transition: all 300ms ease;
                //             cursor: pointer;
                //           }
                .contact-me{
                    width: 21.875rem;
                    height: 600px;
                    border: .0187rem solid $color-three;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 2rem;
                    p{
                        font-size: 1.7rem;
                        color:$color-two;
                        font-weight: 400;
                        text-align: center;  
                        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.349);
                    }
                    a{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        img{
                            opacity: 0.7;
                            transform: scale(1.1);
                            &:hover{
                                opacity: 0.8;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
    .about-us-bg{
        height: auto;
        border-radius: 2.8125rem;
        background-color:$bg-gray;
        display: flex;
        flex-direction: row;
        margin: 2rem 1.5rem;
        padding: 1rem 0;
        gap: 3rem;
        margin-bottom: 10rem;
        filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.267));
        div{
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            justify-content: space-evenly;
            width: 45%;
            margin-left: 2.5rem;
            align-items: center;   
            p{
                color:$color-two;
                font-size: 1.5rem;
                text-align: center;
                width: 95%;
                overflow: hidden;
                &:nth-child(2){
                    box-shadow: -7px 7px 25px 0 rgba(0, 0, 0, 0.616);
                    width: 100%;
                    font-size: 1.7rem;
                    padding: 1rem 1rem;
                    background-color: transparent;
                    color: $color-two;
                    border-radius: 5px;

                }
            }
            img{
                width: 100%;
                margin-right: 5rem;
                filter: drop-shadow(-12px 20px 4px rgba(0, 0, 0, 0.116));
            }
            }
        }
        .client-section{
            display: flex;
            flex-direction: column;
            h2{
                text-transform: uppercase;
                font-size: 4.6875rem;
                font-weight: 600;
                text-align: center;
                color: $color-three;
                text-shadow: 1px 1px 1px black;
                width: 100%;
                box-shadow: -7px 7px 25px 0 rgba(0, 0, 0, 0.616);
                margin-bottom: 1rem;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding-bottom: 10rem;
                article{
                    height: 500px;
                    width: 350px;
                    background-color: $bg-gray;         
                    margin-top: 5rem;
                    border-radius: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    filter: grayscale(1) drop-shadow(-5px 5px 4px rgba(0, 0, 0, 0.603));
                    &:hover{
                        transform: scale(1.1);
                        background-color: $bg-gray;
                        border-radius: 1.25rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        filter: grayscale(0) drop-shadow(-7px 7px 7px black);;
                        transition: all 300ms ease;
                    }
                    a img{
                        height: 200px;
                        width: 200px;
                        border-radius: 100%;
                        margin-top: 1.5rem;
                    }
                    h3{
                        color: $color-two;
                        font-weight: 500;
                    }
                    p{
                        color:$color-two;
                        font-weight: 300;
                        width: 250px;
                        height:100%;
                        text-align: center; 
                    }
                }
            }
            .client-p{
                color:$color-two;
                font-size: 1.7rem;
                text-align: center;
                margin: auto;
                max-width: 35rem;
            }
            .client-section-youtube{
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
}