@font-face {
    font-family: 'Akira Expanded';
    src: url('AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varino Normal';
    src: url('VarinoNormal-Regular.woff2') format('woff2'),
        url('VarinoNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Varino Normal';
    src: url('VarinoNormal-Regular.woff2') format('woff2'),
        url('VarinoNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

